In [ ]:
import sqlite3

In [ ]:
connection=sqlite3.connect("rosters.db")
create_table="""CREATE TABLE Roster (Name TEXT, Species text, age int);"""
table_values=(
    ('Benjamin Sisko','Human',40),
    ('Jadzia Dax','Trill',300),
    ('Kira Nerys','Bajoran',29),
)

In [ ]:
with sqlite3.connect("rosters.db") as con:
    cursor=con.cursor()
    create=cursor.execute(create_table)
    data=cursor.executemany("Insert into Roster Values(?,?,?)", table_values)

In [ ]:
query="Update Roster SET name='Ezri Dax' WHERE name= 'Jadzia Dax' "
with sqlite3.connect("rosters.db") as con:
    cursor=con.cursor()
    update=cursor.execute(query)

In [ ]:
query_retrive=(" Select * from Roster where species ='Bajoran'")

In [ ]:
with sqlite3.connect("rosters.db") as con:
    cursor=con.cursor()
    retrieve=cursor.execute(query_retrive)
retrieve.fetchall()

In [ ]:
delete_query="Delete from Roster where age>100"
with sqlite3.connect("rosters.db") as con:
    cursor=con.cursor()
    delete=cursor.execute(delete_query)

In [ ]:
with sqlite3.connect("rosters.db") as con:
    cursor=con.cursor()
    new_columb=cursor.executescript("Alter table Roster add column Rank text;\
                                    Update Roster set Rank='Captain' where name='Benjamin Sisko';\
                                    Update Roster set Rank='Lieutenant' where name='Ezri Dax';\
                                    Update Roster set Rank='Major' where name='Kira Nerys'; ")

In [ ]:
query="Select * from Roster order by age desc"
with sqlite3.connect("rosters.db") as con:
    cursor=con.cursor()
    agedesc=cursor.execute(query)