In [ ]:
import sqlite3

In [ ]:
connection=sqlite3.connect("library.db")
create_table="""CREATE TABLE Books (Title TEXT, Author text, Year_published int, Genre text);"""
table_values=(
    ('To Kill a Mockingbird','Harper Lee',1960, 'Fiction'),
    ('1984','George Orwell',1949, 'Dystopian'),
    ('The Great Gatsby','F. Scott Fitzgerald',1925,'Classic'),
)

In [ ]:
with sqlite3.connect("library.db") as con:
    cursor=con.cursor()
    create=cursor.execute(create_table)
    data=cursor.executemany("Insert into Books Values(?,?,?,?)", table_values)

In [ ]:
update_query="Update Books set Year_published=1950 where Year_published=1949"
with sqlite3.connect("library.db") as con:
    cursor=con.cursor()
    update=cursor.execute(update_query)

In [ ]:
retrieve_query="Select Title, Author from Books where Genre='Dystopian'"
with sqlite3.connect("library.db") as con:
    cursor=con.cursor()
    retrieve=cursor.execute(retrieve_query)
retrieve.fetchall()

In [ ]:
delete_query=" Delete from Books where Year_published<1950"
with sqlite3.connect("library.db") as con:
    cursor=con.cursor()
    delete=cursor.execute(delete_query)

In [ ]:
with sqlite3.connect("library.db") as con:
    cursor=con.cursor()
    new_columb=cursor.executescript("Alter table Books add column Rating float;\
                                    Update Books set Rating=4.8 where Title='To Kill a Mockingbird';\
                                    Update Books set Rating=4.7 where Title='1984';\
                                    Update Books set Rating=4.5 where Title='The Great Gatsby'; ")

In [ ]:
ascorder="Select * from Books order by Year_published asc"
with sqlite3.connect("library.db") as con:
    cursor=con.cursor()
    ordering=cursor.execute(ascorder)