In [15]:
import sqlite3

In [16]:
import pandas as pd

conn = sqlite3.connect("chinook.db")

customers_df = pd.read_sql("SELECT * FROM customers", conn)
print(customers_df.head(10))
conn.close()

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

In [17]:
iris_df = pd.read_json("iris.json")
print("Shape:", iris_df.shape)
print("Columns:", iris_df.columns.tolist())

Shape: (150, 5)
Columns: ['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species']

In [18]:
titanic_df=pd.read_excel("titanic.xlsx")
print(titanic_df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [19]:
flights=pd.read_parquet('flights.parquet')
print(flights.info())

FileNotFoundError: [Errno 2] No such file or directory: 'flights.parquet'

In [ ]:
movies=pd.read_csv("movie.csv")
print(movies.sample(10))

      color          director_name  num_critic_for_reviews  duration  \
2873  Color        Michael Ritchie                    29.0      94.0
2918  Color            Sanaa Hamri                    70.0     100.0
1604  Color                    NaN                    51.0      44.0
1713  Color      Frédéric Auburtin                     7.0     110.0
1470  Color            John Milius                    13.0     115.0
1753  Color        Lasse Hallström                   184.0     115.0
1483  Color               Ronny Yu                    24.0     101.0
3432  Color  Gina Prince-Bythewood                    71.0     116.0
2628  Color          Robert Harmon                    25.0      94.0
2713    NaN         Tung-Shing Yee                    53.0     119.0

      director_facebook_likes  actor_3_facebook_likes        actor_2_name  \
2873                     23.0                   148.0  Randall 'Tex' Cobb
2918                     43.0                   696.0          Laz Alonso
1604                      NaN                   690.0     Aimee Teegarden
1713                     18.0                   432.0  Thomas Kretschmann
1470                    468.0                   150.0         Dann Florek
1753                    529.0                   325.0          Noah Lomax
1483                     31.0                   448.0        Lee Arenberg
3432                    107.0                   658.0         Nate Parker
2628                     11.0                   232.0    Rosanna Arquette
2713                      3.0                    19.0           Daniel Wu

      actor_1_facebook_likes       gross  \
2873                   400.0  79817937.0
2918                   988.0  21520719.0
1604                   971.0         NaN
1713                   922.0         NaN
1470                   605.0  14587732.0
1753                   576.0  71346930.0
1483                   690.0   6448817.0
3432                   893.0  14612840.0
2628                  1000.0  22189039.0
2713                   556.0         NaN

                                       genres  ... num_user_for_reviews  \
2873  Action|Adventure|Comedy|Fantasy|Mystery  ...                 69.0
2918                     Comedy|Romance|Sport  ...                 36.0
1604                              Drama|Sport  ...                257.0
1713                      Drama|History|Sport  ...                 22.0
1470                Action|Drama|Thriller|War  ...                 39.0
1753                   Drama|Romance|Thriller  ...                160.0
1483                 Action|Adventure|Fantasy  ...                 31.0
3432                              Drama|Music  ...                 37.0
2628      Action|Crime|Drama|Romance|Thriller  ...                 55.0
2713              Action|Crime|Drama|Thriller  ...                 53.0

      language    country  content_rating      budget  title_year  \
2873   English        USA           PG-13  25000000.0      1986.0
2918   English        USA              PG         NaN      2010.0
1604   English        USA           TV-14         NaN         NaN
1713   English     France       Not Rated  24000000.0      2014.0
1470   English        USA           PG-13  35000000.0      1991.0
1753   English        USA           PG-13  28000000.0      2013.0
1483   English        USA              PG  35000000.0      1997.0
3432   English        USA           PG-13   7000000.0      2014.0
2628   English        USA               R  15000000.0      1993.0
2713  Mandarin  Hong Kong               R  15000000.0      2009.0

     actor_2_facebook_likes imdb_score  aspect_ratio movie_facebook_likes
2873                  255.0        5.9          1.85                    0
2918                  826.0        5.8          2.35                    0
1604                  741.0        8.7          1.78                    0
1713                  919.0        2.0          2.35                    0
1470                  367.0        5.7          2.35                  452
1753                  447.0        6.7          2.35                23000
1483                  457.0        4.6          2.35                    0
3432                  664.0        6.9           NaN                    0
2628                  605.0        5.5          1.85                  466
2713                  353.0        7.1          2.35                  821

[10 rows x 28 columns]

In [ ]:
iris_df = pd.read_json("iris.json")
iris_df.columns = iris_df.columns.str.lower()
sepal_data = iris_df[['sepal_length', 'sepal_width']]
print("Sepal Data:\n", sepal_data.head())
print("\nStatistics:")
print(iris_df.agg(['mean', 'median', 'std']))

NameError: name 'pd' is not defined

In [ ]:
import pandas as pd

df_iris = pd.read_json("iris.json")

df_iris.columns = df_iris.columns.str.lower()
df_sepal = df_iris[['sepal_length', 'sepal_width']]

print("Selected Sepal Columns:")
print(df_sepal.head())

KeyError: "None of [Index(['sepal_length', 'sepal_width'], dtype='object')] are in the [columns]"

In [21]:
import pandas as pd
df_titanic = pd.read_excel("titanic.xlsx")

df_age_above_30 = df_titanic[df_titanic['Age'] > 30]


gender_counts = df_titanic['Sex'].value_counts()

print("\nPassengers older than 30:")
print(df_age_above_30.head())
print("\nGender counts:")
print(gender_counts)

Passengers older than 30:
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
4             5         0       3
6             7         0       1
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
4       0    373450   8.0500   NaN        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S

Gender counts:
Sex
male      577
female    314
Name: count, dtype: int64

In [22]:
import pandas as pd

df_movie = pd.read_csv("movie.csv")

df_long_movies = df_movie[df_movie['duration'] > 120]

df_sorted = df_long_movies.sort_values('director_facebook_likes', ascending=False)

print("\nMovies longer than 120 minutes (sorted by director likes):")
print(df_sorted.head(10))

Movies longer than 120 minutes (sorted by director likes):
      color      director_name  num_critic_for_reviews  duration  \
66    Color  Christopher Nolan                   645.0     152.0
3     Color  Christopher Nolan                   813.0     164.0
120   Color  Christopher Nolan                   478.0     128.0
1222  Color  Christopher Nolan                   341.0     130.0
97    Color  Christopher Nolan                   642.0     148.0
96    Color  Christopher Nolan                   712.0     169.0
857   Color      David Fincher                   210.0     145.0
966   Color      David Fincher                   157.0     129.0
101   Color      David Fincher                   362.0     166.0
1584  Color      David Fincher                   216.0     127.0

      director_facebook_likes  actor_3_facebook_likes         actor_2_name  \
66                    22000.0                 11000.0         Heath Ledger
3                     22000.0                 23000.0       Christian Bale
120                   22000.0                 11000.0          Liam Neeson
1222                  22000.0                 19000.0         Hugh Jackman
97                    22000.0                 23000.0            Tom Hardy
96                    22000.0                  6000.0        Anne Hathaway
857                   21000.0                   243.0       Holt McCallany
966                   21000.0                   283.0  Armin Mueller-Stahl
101                   21000.0                   919.0        Jason Flemyng
1584                  21000.0                   360.0            Brad Pitt

      actor_1_facebook_likes        gross                            genres  \
66                   23000.0  533316061.0       Action|Crime|Drama|Thriller
3                    27000.0  448130642.0                   Action|Thriller
120                  23000.0  205343774.0                  Action|Adventure
1222                 23000.0   53082743.0     Drama|Mystery|Sci-Fi|Thriller
97                   29000.0  292568851.0  Action|Adventure|Sci-Fi|Thriller
96                   11000.0  187991439.0            Adventure|Drama|Sci-Fi
857                    534.0   55473600.0              Action|Horror|Sci-Fi
966                    495.0   48265581.0            Drama|Mystery|Thriller
101                  11000.0  127490802.0             Drama|Fantasy|Romance
1584                 11000.0  100125340.0      Crime|Drama|Mystery|Thriller

      ... num_user_for_reviews language  country  content_rating       budget  \
66    ...               4667.0  English      USA           PG-13  185000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
120   ...               2685.0  English      USA           PG-13  150000000.0
1222  ...               1100.0  English      USA           PG-13   40000000.0
97    ...               2803.0  English      USA           PG-13  160000000.0
96    ...               2725.0  English      USA           PG-13  165000000.0
857   ...                776.0  English      USA               R   50000000.0
966   ...                506.0  English      USA               R   50000000.0
101   ...                822.0  English      USA           PG-13  150000000.0
1584  ...               1080.0  English      USA               R   33000000.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
66        2008.0                13000.0        9.0          2.35
3         2012.0                23000.0        8.5          2.35
120       2005.0                14000.0        8.3          2.35
1222      2006.0                20000.0        8.5          2.35
97        2010.0                27000.0        8.8          2.35
96        2014.0                11000.0        8.6          2.35
857       1992.0                  273.0        6.4          2.35
966       1997.0                  294.0        7.8          2.35
101       2008.0                 1000.0        7.8          2.35
1584      1995.0                11000.0        8.6          2.35

     movie_facebook_likes
66                  37000
3                  164000
120                 15000
1222                49000
97                 175000
96                 349000
857                     0
966                 25000
101                 23000
1584                39000

[10 rows x 28 columns]

In [ ]:
import pandas as pd

df_iris = pd.read_json("iris.json")

stats = df_iris.select_dtypes(include='number').agg(['mean', 'median', 'std'])

print("Statistics for Iris Dataset:")
print(stats)

In [ ]:
import pandas as pd
df_titanic = pd.read_excel("titanic.xlsx")
age_stats = {
    'min_age': df_titanic['Age'].min(),
    'max_age': df_titanic['Age'].max(),
    'sum_age': df_titanic['Age'].sum()
}

print("\nPassenger Age Statistics:")
print(age_stats)

In [ ]:
director_likes = df_movie.groupby('director_name')['director_facebook_likes'].sum()
top_director = director_likes.idxmax()

longest_movies = df_movie.nlargest(5, 'duration')[['movie_title', 'duration', 'director_name']]

print("\nDirector with Highest Total Facebook Likes:", top_director)
print("\n5 Longest Movies:")
print(longest_movies)

In [ ]:
df_flights = pd.read_parquet("flights.parquet", engine="pyarrow")

missing_values = df_flights.isnull().sum()

median_delay = df_flights['dep_delay'].median()
df_flights['dep_delay_filled'] = df_flights['dep_delay'].fillna(median_delay)

print("\nMissing Values per Column:")
print(missing_values)
print("\nSample Rows After Filling Missing 'dep_delay':")
print(df_flights[['dep_delay', 'dep_delay_filled']].head())